# Basic

In [1]:
print("hello")

hello

 - DS - interdisiplinary field that uses methods, processes and systems to extract knowledge or insights from data
 - steps
   - data collection
   - data cleaning / preparation -  so that it is ready for analysis
   - exploratory data analysis (EDA) - to understand the data
   - data modeling - to create predictive models
   - data visualization - to communicate findings
   - model evaluation - to assess model performance
   - deployment - to integrate model into production

# Pandas
- lib for data manipulation and analysis
- DataFrame and Series - structures for tabular and 1D data
- Read/write - load/save data from CSV, Excel, SQL, etc.
- Powerful indexing and slicing - filter, group, pivot tables and more
- Handling missing data - for detecting and filling missing values

## Dataframe related basics
used coz easier to analyze and everything

In [ ]:
import pandas as pd

data = {
    'A' : [1, 2, 3],
    'B' : ['x', 'y', 'z'],
    'C' : [0.5, 0.75, 1.0]
}

df = pd.DataFrame(data)
print(df)

   A  B     C
0  1  x  0.50
1  2  y  0.75
2  3  z  1.00
   A  B     C
0  1  x  0.50
1  2  y  0.75
2  3  z  1.00

In [13]:
print(df.head(2))
print("--------------")
print(df.tail(1))
print("-----Shape---------")
print(df.shape)
print("-------Info-------")
print(df.info())
print("-------Describe-------")
print(df.describe())

   A  B     C
0  1  x  0.50
1  2  y  0.75
--------------
   A  B    C
2  3  z  1.0
-----Shape---------
(3, 3)
-------Info-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      object
 2   C       3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes
None
-------Describe-------
         A      C
count  3.0  3.000
mean   2.0  0.750
std    1.0  0.250
min    1.0  0.500
25%    1.5  0.625
50%    2.0  0.750
75%    2.5  0.875
max    3.0  1.000

In [16]:
print(df.iloc[0])  # Accessing the first row
print(df.loc[0, 'A'])  # Accessing the value in the first row and column 'A'

A      1
B      x
C    0.5
Name: 0, dtype: object
1

In [20]:
data2 = {
    'Name': ['ABC', 'DEF', 'GHI'],
    'Score' : [85, 90, 95],
    'Passed' : ['Yes', 'Yes', 'Yes']
}

df2 = pd.DataFrame(data2, index=['a', 'b', 'c'])

print(df2.loc['a'])  # Accessing the row with index 'a'
print("--------------")
print(df2.loc['b', 'Name']) # Accessing the 'Name' column of row with index 'b'

df

Name      ABC
Score      85
Passed    Yes
Name: a, dtype: object
--------------
DEF

   A  B     C
0  1  x  0.50
1  2  y  0.75
2  3  z  1.00

In [27]:
print(df2.iloc[0])

Name      ABC
Score      85
Passed    Yes
Name: a, dtype: object